.topic-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topic-items {
    width: 31%;
    height: 225px;
    background: #000000;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.topic-items__title {
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFE600;
}