.topic-section {
    padding-top: 45px;
}
.topic-section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}
.topic-section__title img {
    background-position: center;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 34px;
    right: 770px;
}
.topic-section__title button {
    width: 430px;
    height: 90px;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
}
.add-new-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topic-section__title input {
    background-color: rgba(0, 0, 0, 0.397);
    width: 280px;
    height: 30px;
    padding-left: 5px;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
}
.add-new-topic button {
    background-color: #FFE600;
    font-size: 12px;
    height: 30px;
    width: 100px;
}
.topic-section__title input::placeholder {
    font-size: 15px;
    color: white;
}